
#root {
  height: 100vh;
 width: 100%;
 
 
  background-color: rgb(23 37 84 / var(--tw-bg-opacity)) /* #172554 */;
  

  margin: 0;
  padding:0;
  
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@media (min-width:320px) {
  .md\:w-fit {
      width:min-content;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* @keyframes dropdown {
   0%{ transform: translateY(scale(0.25));}
   50%{transform: translateY(scale(0.5)); }
   100%{transform: translateY(scale(1));}
  
} */
